.vscode/*
#!.vscode/tasks.json
.idea
*.code-workspace
tmp.in
tmp.out
in.tmp
out.tmp

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#Pasta de bináris
.bin/
tests/
#Java
*.class
*.jar

.venv
venv

out/*
__pycache__
*.iml