.vscode/*
#!.vscode/tasks.json

*.code-workspace

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#Pasta de bináris
.bin/
tests/
#Java
*.class
*.jar

.venv

